// .small_underline {
//     border: 2px solid black;
//     width: 40px;
//     display: block;
// }

// .small_underline--red {
//     border: 2px solid red;
// }

// .title--red {
//     color: red;
// }

// .container-img {
//     position: relative;
//     cursor: pointer;
// }

// .container-img/*container-img_hover */::after { /* technique remplacant le ::after quand contenu trop important */
//     content: '+';
//     width: 270px;
//     height: 270px;
//     text-align: center;
//     line-height: 270px;
//     background-color: rgba(0,0,0, .42);
//     position: absolute;
//     top:0;
//     left: 0;
//     color: white;
//     font-size: 1.7rem;
//     opacity: 0;
//     transition: opacity .800s linear;
// }

// .container-img/*container-img_hover */:hover::after { /* technique remplacant le ::after quand contenu trop important */
//     opacity: 1;
//     transition: opacity .800s linear;
// }

// .msg-error {
//     display: none;
//     color: red;
//     margin-left: 15px;
//     font-size: .85rem;
// }

// .msg-error--show {
//     display: inline-block;
// }

// // .msg-error > span {
// //     display: inline-block; /* pas besoin de mettre display none étant donné que son parent l'est dèja*/
// //      background-color: red;
// //      color: white;
// //      padding: 5px 8px;
// // }


// #frm{
//     border : solid gray 1px;
//     width:20%;
//     border-radius: 5px;
//     margin: 100px auto;
//     background-color: white;
    
// }
// #btn{
//     color:#fff;
//     background-color:#337ab7;
// }
body{font-size: 120%;
background: blue;
form {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #b0c4de;
    background:white;
    border-radius: 0px 0px 10px 10px;
}
.input-group{
    margin: 10px 0px 10px 0px;
}

.input-group label {
display:block;
text-align: left;
margin: 3px;
}
.input-group input{
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius:5px;
    border : 1px solid gray;
}
.btn{
    padding: 10px;
    font-size:15px;
    color:white;
    background: #5f9ea0;
    border: none;
    border-radius: 5px;
}

}