{% extends "base.html.twig" %}

{% block title %} Home {% endblock %}

{% block content %}
<p>Dashboard Home </p>
{% endblock %}

{% block script %}
<script src="build/js/home.js"></script>
 {% endblock %}