{% extends 'base.html.twig' %}

{% block content %}

<div class="container-fluid">
<div class="row">
<div class="col-md-4 offset-md-4">
<form method="post" action="index.php">
    <h2 class="text-center">Se connecter</h2>

<div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control form-control-lg">
</div>

<div class="form-group">
    <label>Mot de passe</label>
    <input type="password" name="password" class="form-control form-control-lg">
    </div>

<div class="form-group">
    <button type="submit" name="register" class="btn btn-primary btn-block btn-lg">Se connecter </button>
</div>

<p>pas encore membre? <a href="home.html.twig">S'enregistrer</p>
</form>
</div>  
</div>
</div>

{% endblock %}